body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    color: darkblue;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    border-top: none;
}

header {
    background-color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: black;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbuttons {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;



}

button {
    background-color: rgb(7, 167, 230);
    font-weight: 600;
    height: 50px;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#imagesection {
    background-image: url("https://cdn.pixabay.com/photo/2016/04/04/14/12/monitor-1307227__480.jpg");
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 0, 179);
    text-shadow: white 20px;
    font-weight: 800;
    font-size: 42px;
    
}

img {
    height: 400px;
    width: 100%;
    align-content: stretch;
    
}

section {
    display: flex;
    justify-content: space-around;
}

.sectioncontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;

}

.projectCard {
    width: 30%;
    height: 150px;
    border: solid 5px black;
    margin: 5px;
    display: flex;
    align-items: flex-end;
}

.projectCard a {
    background-color: lightskyblue;
    padding: 5px;
    z-index: 16;
    min-width:fit-content;
    
}

#project1 {
    background-image: url("./QP\ Screenshot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#weatherApp {
    background-image: url("./WA\ Screenshot.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
}

#dailyPlanner {
    background-image: url("./DP\ Screenshot.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
}

aside {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-shadow: slateblue 10px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

p {
    color: rgba(23, 0, 44, 0.993)
}

a {
    display: flex;
    display: block;
    flex-wrap: wrap;
    width: 33%;
}


div {
    color: black;
}

footer {
    text-align: center;

}

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}



/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background-color: rgb(7, 167, 230);
    }
    button {
        background-color: blueviolet;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    header {
      background-color: rgb(79, 68, 233);
    }
    button {
    background-color: magenta;
    }
  }
  
  